@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 boxed">Welcome</h1>
    <div class="boxed">
        <h3>About this site:</h3>
        <p>This site is a convienient place to store movie and actor entries.</p>
        <p>Feel free to add new movies and actors and make sure to include relationships between them if applicable!</p>
        <p>Each movie has 5 review in its detail section while each actor has 10 tweets in its detail section.</p>
        <p>If a movie does not have 5 reviews it is because gpt 4.1 nano messed up the formatting due to the one API call rule.</p>
    </div>
</div>
